-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: ql_nckh
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bao_cao`
--

DROP TABLE IF EXISTS `bao_cao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bao_cao` (
  `BC_MABC` char(10) NOT NULL,
  `BC_TENBC` varchar(255) NOT NULL,
  `BC_DUONGDAN` varchar(255) DEFAULT NULL,
  `BC_MOTA` text DEFAULT NULL,
  `BC_NGAYNOP` datetime NOT NULL,
  `BC_TRANGTHAI` varchar(20) NOT NULL DEFAULT 'Chß╗¥ duyß╗çt',
  `BC_GHICHU` text DEFAULT NULL,
  `BC_DIEMSO` decimal(3,1) DEFAULT NULL,
  `DT_MADT` char(10) NOT NULL,
  `SV_MASV` char(8) NOT NULL,
  `LBC_MALOAI` char(5) DEFAULT NULL,
  PRIMARY KEY (`BC_MABC`),
  KEY `FK_BAO_CAO_CUA_DE_TAI` (`DT_MADT`),
  KEY `FK_BAO_CAO_CUA_SINH_VIEN` (`SV_MASV`),
  KEY `FK_BAO_CAO_LOAI_BAO_CAO` (`LBC_MALOAI`),
  CONSTRAINT `FK_BAO_CAO_CUA_DE_TAI` FOREIGN KEY (`DT_MADT`) REFERENCES `de_tai_nghien_cuu` (`DT_MADT`),
  CONSTRAINT `FK_BAO_CAO_CUA_SINH_VIEN` FOREIGN KEY (`SV_MASV`) REFERENCES `sinh_vien` (`SV_MASV`),
  CONSTRAINT `FK_BAO_CAO_LOAI_BAO_CAO` FOREIGN KEY (`LBC_MALOAI`) REFERENCES `loai_bao_cao` (`LBC_MALOAI`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bao_cao`
--

LOCK TABLES `bao_cao` WRITE;
/*!40000 ALTER TABLE `bao_cao` DISABLE KEYS */;
/*!40000 ALTER TABLE `bao_cao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bien_ban`
--

DROP TABLE IF EXISTS `bien_ban`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bien_ban` (
  `BB_SOBB` char(10) NOT NULL,
  `QD_SO` char(5) NOT NULL,
  `BB_NGAYNGHIEMTHU` date NOT NULL,
  `BB_XEPLOAI` varchar(255) NOT NULL,
  `BB_TONGDIEM` int(3) DEFAULT NULL,
  PRIMARY KEY (`BB_SOBB`),
  KEY `FK_BIEN_BAN_CO_BIEN_B_QUYET_DI` (`QD_SO`),
  KEY `idx_bien_ban_tongdiem` (`BB_TONGDIEM`),
  CONSTRAINT `FK_BIEN_BAN_CO_BIEN_B_QUYET_DI` FOREIGN KEY (`QD_SO`) REFERENCES `quyet_dinh_nghiem_thu` (`QD_SO`),
  CONSTRAINT `chk_bien_ban_tongdiem` CHECK (`BB_TONGDIEM` >= 0 and `BB_TONGDIEM` <= 10)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bien_ban`
--

LOCK TABLES `bien_ban` WRITE;
/*!40000 ALTER TABLE `bien_ban` DISABLE KEYS */;
INSERT INTO `bien_ban` VALUES ('BB00000004','QDDT0','2026-01-04','Xuß║Ñt sß║»c',10),('BB00000005','123ab','2026-01-04','Xuß║Ñt sß║»c',10),('BB3abc','123ab','2026-01-04','Ch╞░a nghiß╗çm thu',NULL),('BBDT000000','QDDT0','2026-01-04','Xuß║Ñt sß║»c',10);
/*!40000 ALTER TABLE `bien_ban` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chi_tiet_diem_danh_gia`
--

DROP TABLE IF EXISTS `chi_tiet_diem_danh_gia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chi_tiet_diem_danh_gia` (
  `CTDDG_MA` char(10) NOT NULL,
  `QD_SO` char(5) NOT NULL,
  `GV_MAGV` char(8) NOT NULL,
  `TC_MATC` char(5) NOT NULL,
  `CTDDG_DIEM` decimal(4,2) NOT NULL DEFAULT 0.00 COMMENT '─Éiß╗âm ─æ├ính gi├í cho ti├¬u ch├¡ n├áy',
  `CTDDG_GHICHU` text DEFAULT NULL COMMENT 'Ghi ch├║ ─æ├ính gi├í',
  `CTDDG_NGAYCAPNHAT` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`CTDDG_MA`),
  UNIQUE KEY `unique_member_criteria` (`QD_SO`,`GV_MAGV`,`TC_MATC`),
  KEY `idx_qd_so` (`QD_SO`),
  KEY `idx_gv_magv` (`GV_MAGV`),
  KEY `idx_tc_matc` (`TC_MATC`),
  CONSTRAINT `fk_ctddg_giang_vien` FOREIGN KEY (`GV_MAGV`) REFERENCES `giang_vien` (`GV_MAGV`) ON DELETE CASCADE,
  CONSTRAINT `fk_ctddg_quyet_dinh` FOREIGN KEY (`QD_SO`) REFERENCES `quyet_dinh_nghiem_thu` (`QD_SO`) ON DELETE CASCADE,
  CONSTRAINT `fk_ctddg_tieu_chi` FOREIGN KEY (`TC_MATC`) REFERENCES `tieu_chi` (`TC_MATC`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chi_tiet_diem_danh_gia`
--

LOCK TABLES `chi_tiet_diem_danh_gia` WRITE;
/*!40000 ALTER TABLE `chi_tiet_diem_danh_gia` DISABLE KEYS */;
/*!40000 ALTER TABLE `chi_tiet_diem_danh_gia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chi_tiet_tham_gia`
--

DROP TABLE IF EXISTS `chi_tiet_tham_gia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chi_tiet_tham_gia` (
  `SV_MASV` char(8) NOT NULL,
  `DT_MADT` char(10) NOT NULL,
  `HK_MA` char(8) NOT NULL,
  `CTTG_VAITRO` varchar(20) NOT NULL,
  `CTTG_NGAYTHAMGIA` date NOT NULL,
  PRIMARY KEY (`SV_MASV`,`DT_MADT`,`HK_MA`),
  KEY `FK_CHI_TIET_RELATIONS_HOC_KI` (`HK_MA`),
  KEY `FK_CHI_TIET_RELATIONS_DE_TAI_N` (`DT_MADT`),
  CONSTRAINT `FK_CHI_TIET_RELATIONS_DE_TAI_N` FOREIGN KEY (`DT_MADT`) REFERENCES `de_tai_nghien_cuu` (`DT_MADT`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `FK_CHI_TIET_RELATIONS_HOC_KI` FOREIGN KEY (`HK_MA`) REFERENCES `hoc_ki` (`HK_MA`),
  CONSTRAINT `FK_CHI_TIET_RELATIONS_SINH_VIE` FOREIGN KEY (`SV_MASV`) REFERENCES `sinh_vien` (`SV_MASV`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chi_tiet_tham_gia`
--

LOCK TABLES `chi_tiet_tham_gia` WRITE;
/*!40000 ALTER TABLE `chi_tiet_tham_gia` DISABLE KEYS */;
INSERT INTO `chi_tiet_tham_gia` VALUES ('B2110051','DT0000001','HK3-2024','Chß╗º nhiß╗çm','2025-08-04'),('B2110051','DT0000002','HK3-2024','Chß╗º nhiß╗çm','2025-08-04'),('B2110051','DT0000003','HK3-2024','Chß╗º nhiß╗çm','2025-08-05'),('b2110056','DT0000001','HK3-2024','Th├ánh vi├¬n','2025-08-04'),('b2110056','DT0000002','HK3-2024','Th├ánh vi├¬n','2025-08-04'),('b2110056','DT0000003','HK3-2024','Th├ánh vi├¬n','2025-08-05');
/*!40000 ALTER TABLE `chi_tiet_tham_gia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `de_tai_nghien_cuu`
--

DROP TABLE IF EXISTS `de_tai_nghien_cuu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `de_tai_nghien_cuu` (
  `DT_MADT` char(10) NOT NULL,
  `LDT_MA` char(5) NOT NULL,
  `GV_MAGV` char(8) NOT NULL,
  `LVNC_MA` char(5) NOT NULL,
  `QD_SO` char(5) DEFAULT NULL,
  `LVUT_MA` char(5) NOT NULL,
  `HD_MA` char(5) NOT NULL,
  `DT_TENDT` varchar(200) NOT NULL,
  `DT_MOTA` text NOT NULL,
  `DT_TRANGTHAI` enum('Chß╗¥ duyß╗çt','─Éang thß╗▒c hiß╗çn','─É├ú ho├án th├ánh','Tß║ím dß╗½ng','─É├ú hß╗ºy','─Éang xß╗¡ l├╜') NOT NULL DEFAULT 'Chß╗¥ duyß╗çt',
  `DT_FILEBTM` varchar(255) DEFAULT NULL,
  `DT_NGAYTAO` datetime NOT NULL DEFAULT current_timestamp(),
  `DT_SLSV` int(11) NOT NULL DEFAULT 3 COMMENT 'Sß╗æ l╞░ß╗úng sinh vi├¬n tham gia ─æß╗ü t├ái',
  `DT_GHICHU` text DEFAULT NULL,
  `DT_NGUOICAPNHAT` varchar(20) DEFAULT NULL,
  `DT_NGAYCAPNHAT` datetime DEFAULT NULL,
  PRIMARY KEY (`DT_MADT`),
  KEY `FK_DE_TAI_N_CO_LINH_VUC` (`LVNC_MA`),
  KEY `FK_DE_TAI_N_CO__1__LINH_VUC` (`LVUT_MA`),
  KEY `FK_DE_TAI_N_RELATIONS_GIANG_VI` (`GV_MAGV`),
  KEY `FK_DE_TAI_N_RELATIONS_QUYET_DI` (`QD_SO`),
  KEY `FK_DE_TAI_N_THUOC_LOAI_DE_` (`LDT_MA`),
  CONSTRAINT `FK_DE_TAI_N_CO_LINH_VUC` FOREIGN KEY (`LVNC_MA`) REFERENCES `linh_vuc_nghien_cuu` (`LVNC_MA`),
  CONSTRAINT `FK_DE_TAI_N_CO__1__LINH_VUC` FOREIGN KEY (`LVUT_MA`) REFERENCES `linh_vuc_uu_tien` (`LVUT_MA`),
  CONSTRAINT `FK_DE_TAI_N_RELATIONS_GIANG_VI` FOREIGN KEY (`GV_MAGV`) REFERENCES `giang_vien` (`GV_MAGV`),
  CONSTRAINT `FK_DE_TAI_N_RELATIONS_QUYET_DI` FOREIGN KEY (`QD_SO`) REFERENCES `quyet_dinh_nghiem_thu` (`QD_SO`),
  CONSTRAINT `FK_DE_TAI_N_THUOC_LOAI_DE_` FOREIGN KEY (`LDT_MA`) REFERENCES `loai_de_tai` (`LDT_MA`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `de_tai_nghien_cuu`
--

LOCK TABLES `de_tai_nghien_cuu` WRITE;
/*!40000 ALTER TABLE `de_tai_nghien_cuu` DISABLE KEYS */;
/*!40000 ALTER TABLE `de_tai_nghien_cuu` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER IF NOT EXISTS `tg_auto_generate_dt_madt` BEFORE INSERT ON `de_tai_nghien_cuu`

FOR EACH ROW

BEGIN

  DECLARE next_id INT;

  

  -- Lß║Ñy ID tiß║┐p theo

  SELECT IFNULL(MAX(SUBSTRING(DT_MADT, 3)), 0) + 1 INTO next_id FROM `de_tai_nghien_cuu`;

  

  -- Tß║ío m├ú ─æß╗ü t├ái mß╗¢i

  SET NEW.DT_MADT = CONCAT('DT', LPAD(next_id, 7, '0'));

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `file_danh_gia`
--

DROP TABLE IF EXISTS `file_danh_gia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `file_danh_gia` (
  `FDG_MA` varchar(10) NOT NULL,
  `BB_SOBB` varchar(10) NOT NULL,
  `FDG_TEN` varchar(255) NOT NULL,
  `FDG_DUONGDAN` varchar(500) DEFAULT NULL,
  `FDG_NGAYCAP` date DEFAULT NULL,
  PRIMARY KEY (`FDG_MA`),
  KEY `BB_SOBB` (`BB_SOBB`),
  CONSTRAINT `file_danh_gia_ibfk_1` FOREIGN KEY (`BB_SOBB`) REFERENCES `bien_ban` (`BB_SOBB`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `file_danh_gia`
--

LOCK TABLES `file_danh_gia` WRITE;
/*!40000 ALTER TABLE `file_danh_gia` DISABLE KEYS */;
/*!40000 ALTER TABLE `file_danh_gia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `file_dinh_kem`
--

DROP TABLE IF EXISTS `file_dinh_kem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `file_dinh_kem` (
  `FDG_MA` char(10) NOT NULL,
  `BB_SOBB` char(10) NOT NULL,
  `GV_MAGV` char(8) DEFAULT NULL COMMENT 'M├ú giß║úng vi├¬n (th├ánh vi├¬n hß╗Öi ─æß╗ông)',
  `FDG_LOAI` varchar(50) NOT NULL COMMENT 'Loß║íi file ─æ├ính gi├í',
  `FDG_TENFILE` varchar(200) DEFAULT NULL COMMENT 'T├¬n hiß╗ân thß╗ï cß╗ºa file',
  `FDG_FILE` varchar(255) DEFAULT NULL COMMENT '─É╞░ß╗¥ng dß║½n file ─æ├ính gi├í',
  `FDG_NGAYTAO` datetime DEFAULT current_timestamp() COMMENT 'Ng├áy tß║ío file',
  `FDG_KICHTHUC` bigint(20) DEFAULT NULL COMMENT 'K├¡ch th╞░ß╗¢c file (bytes)',
  `FDG_MOTA` text DEFAULT NULL COMMENT 'M├┤ tß║ú file ─æ├ính gi├í',
  PRIMARY KEY (`FDG_MA`),
  KEY `FK_FILE_DAN_CUA_BIEN_BAN` (`BB_SOBB`),
  KEY `idx_fdg_loai` (`FDG_LOAI`),
  KEY `idx_fdg_gv_magv` (`GV_MAGV`),
  KEY `idx_fdg_ngaytao` (`FDG_NGAYTAO`),
  CONSTRAINT `FK_FILE_DAN_CUA_BIEN_BAN` FOREIGN KEY (`BB_SOBB`) REFERENCES `bien_ban` (`BB_SOBB`),
  CONSTRAINT `fk_file_dinh_kem_giang_vien` FOREIGN KEY (`GV_MAGV`) REFERENCES `giang_vien` (`GV_MAGV`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `file_dinh_kem`
--

LOCK TABLES `file_dinh_kem` WRITE;
/*!40000 ALTER TABLE `file_dinh_kem` DISABLE KEYS */;
/*!40000 ALTER TABLE `file_dinh_kem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `giang_vien`
--

DROP TABLE IF EXISTS `giang_vien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `giang_vien` (
  `GV_MAGV` char(8) NOT NULL,
  `DV_MADV` char(5) NOT NULL,
  `GV_HOGV` varchar(8) NOT NULL,
  `GV_TENGV` varchar(50) NOT NULL,
  `GV_EMAIL` varchar(35) NOT NULL,
  `GV_CHUYENMON` text DEFAULT NULL,
  `GV_GIOITINH` tinyint(4) NOT NULL DEFAULT 1,
  `GV_SDT` varchar(15) DEFAULT NULL,
  `GV_MATKHAU` varchar(255) NOT NULL,
  `GV_NGAYSINH` date DEFAULT NULL,
  `GV_DIACHI` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`GV_MAGV`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `giang_vien`
--

LOCK TABLES `giang_vien` WRITE;
/*!40000 ALTER TABLE `giang_vien` DISABLE KEYS */;
/*!40000 ALTER TABLE `giang_vien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hoc_ki`
--

DROP TABLE IF EXISTS `hoc_ki`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hoc_ki` (
  `HK_MA` char(8) NOT NULL,
  `NK_NAM` varchar(9) NOT NULL,
  `HK_TEN` varchar(100) NOT NULL,
  `HK_NGAYBD` date DEFAULT NULL,
  `HK_NGAYKT` date DEFAULT NULL,
  PRIMARY KEY (`HK_MA`),
  KEY `FK_HOC_KI_RELATIONS_NIEN_KHO` (`NK_NAM`),
  CONSTRAINT `FK_HOC_KI_RELATIONS_NIEN_KHO` FOREIGN KEY (`NK_NAM`) REFERENCES `nien_khoa` (`NK_NAM`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hoc_ki`
--

LOCK TABLES `hoc_ki` WRITE;
/*!40000 ALTER TABLE `hoc_ki` DISABLE KEYS */;
/*!40000 ALTER TABLE `hoc_ki` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hop_dong`
--

DROP TABLE IF EXISTS `hop_dong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hop_dong` (
  `HD_MA` char(5) NOT NULL,
  `DT_MADT` char(10) NOT NULL,
  `HD_NGAYTAO` date NOT NULL,
  `HD_NGAYBD` date NOT NULL,
  `HD_NGAYKT` date NOT NULL,
  `HD_GHICHU` text DEFAULT NULL,
  `HD_TONGKINHPHI` decimal(10,2) NOT NULL,
  `HD_FILEHD` varchar(255) DEFAULT NULL,
  `HD_NGUOIKY` varchar(100) DEFAULT NULL COMMENT 'Ng╞░ß╗¥i k├╜ hß╗úp ─æß╗ông',
  PRIMARY KEY (`HD_MA`),
  KEY `FK_HOP_DONG_CO_1_2_DE_TAI_N` (`DT_MADT`),
  CONSTRAINT `FK_HOP_DONG_CO_1_2_DE_TAI_N` FOREIGN KEY (`DT_MADT`) REFERENCES `de_tai_nghien_cuu` (`DT_MADT`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hop_dong`
--

LOCK TABLES `hop_dong` WRITE;
/*!40000 ALTER TABLE `hop_dong` DISABLE KEYS */;
INSERT INTO `hop_dong` VALUES ('123ab','DT0000002','2025-08-04','2025-08-04','2026-02-04','├ózza',25000000.00,'contract_123abc_1754324552.docx',NULL),('HDDT0','DT0000001','2025-08-04','2025-08-04','2026-02-04','abc',35000000.00,'contract_HDDT0000001_1754301639.docx',NULL);
/*!40000 ALTER TABLE `hop_dong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `khoa`
--

DROP TABLE IF EXISTS `khoa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `khoa` (
  `DV_MADV` char(5) NOT NULL,
  `DV_TENDV` varchar(50) NOT NULL,
  PRIMARY KEY (`DV_MADV`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `khoa`
--

LOCK TABLES `khoa` WRITE;
/*!40000 ALTER TABLE `khoa` DISABLE KEYS */;
/*!40000 ALTER TABLE `khoa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `khoa_hoc`
--

DROP TABLE IF EXISTS `khoa_hoc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `khoa_hoc` (
  `KH_NAM` varchar(9) NOT NULL,
  PRIMARY KEY (`KH_NAM`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `khoa_hoc`
--

LOCK TABLES `khoa_hoc` WRITE;
/*!40000 ALTER TABLE `khoa_hoc` DISABLE KEYS */;
INSERT INTO `khoa_hoc` VALUES ('47'),('48'),('Kh├│a 39'),('Kh├│a 40'),('Kh├│a 41'),('Kh├│a 42'),('Kh├│a 43'),('Kh├│a 44'),('Kh├│a 45'),('Kh├│a 46'),('Kh├│a 47'),('Kh├│a 48'),('Kh├│a 49'),('Kh├│a 50');
/*!40000 ALTER TABLE `khoa_hoc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `linh_vuc_nghien_cuu`
--

DROP TABLE IF EXISTS `linh_vuc_nghien_cuu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `linh_vuc_nghien_cuu` (
  `LVNC_MA` char(5) NOT NULL,
  `LVNC_TEN` varchar(50) NOT NULL,
  `LVNC_MOTA` text NOT NULL,
  PRIMARY KEY (`LVNC_MA`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `linh_vuc_nghien_cuu`
--

LOCK TABLES `linh_vuc_nghien_cuu` WRITE;
/*!40000 ALTER TABLE `linh_vuc_nghien_cuu` DISABLE KEYS */;
/*!40000 ALTER TABLE `linh_vuc_nghien_cuu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `linh_vuc_uu_tien`
--

DROP TABLE IF EXISTS `linh_vuc_uu_tien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `linh_vuc_uu_tien` (
  `LVUT_MA` char(5) NOT NULL,
  `LVUT_TEN` varchar(255) NOT NULL,
  `LVUT_MOTA` text NOT NULL,
  PRIMARY KEY (`LVUT_MA`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `linh_vuc_uu_tien`
--

LOCK TABLES `linh_vuc_uu_tien` WRITE;
/*!40000 ALTER TABLE `linh_vuc_uu_tien` DISABLE KEYS */;
/*!40000 ALTER TABLE `linh_vuc_uu_tien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loai_bao_cao`
--

DROP TABLE IF EXISTS `loai_bao_cao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `loai_bao_cao` (
  `LBC_MALOAI` char(5) NOT NULL,
  `LBC_TENLOAI` varchar(50) NOT NULL,
  `LBC_MOTA` text DEFAULT NULL,
  PRIMARY KEY (`LBC_MALOAI`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loai_bao_cao`
--

LOCK TABLES `loai_bao_cao` WRITE;
/*!40000 ALTER TABLE `loai_bao_cao` DISABLE KEYS */;
INSERT INTO `loai_bao_cao` VALUES ('LBC01','B├ío c├ío tiß║┐n ─æß╗Ö','B├ío c├ío tiß║┐n ─æß╗Ö ─æß╗ïnh kß╗│'),('LBC02','B├ío c├ío cuß╗æi kß╗│','B├ío c├ío tß╗òng kß║┐t cuß╗æi kß╗│'),('LBC03','B├ío c├ío ─æß╗Öt xuß║Ñt','B├ío c├ío theo y├¬u cß║ºu cß╗ºa GVHD');
/*!40000 ALTER TABLE `loai_bao_cao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loai_de_tai`
--

DROP TABLE IF EXISTS `loai_de_tai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `loai_de_tai` (
  `LDT_MA` char(5) NOT NULL,
  `LDT_TENLOAI` varchar(50) NOT NULL,
  PRIMARY KEY (`LDT_MA`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loai_de_tai`
--

LOCK TABLES `loai_de_tai` WRITE;
/*!40000 ALTER TABLE `loai_de_tai` DISABLE KEYS */;
INSERT INTO `loai_de_tai` VALUES ('DT001','─Éß╗ü t├ái cß║Ñp nh├á n╞░ß╗¢c'),('DT002','─Éß╗ü t├ái cß║Ñp bß╗Ö'),('DT003','─Éß╗ü t├ái cß║Ñp c╞í sß╗ƒ'),('DT004','─Éß╗ü t├ái hß╗úp t├íc ─æß╗ïa ph╞░╞íng/ doanh nghiß╗çp'),('DT005','─Éß╗ü t├ái hß╗úp t├íc doanh nghiß╗çp'),('DT006','─Éß╗ü t├ái sinh vi├¬n'),('DT007','─Éß╗ü t├ái nghß╗ï ─æß╗ïnh th╞░'),('DT008','─Éß╗ü t├ái cß║Ñp huyß╗çn'),('DT009','─Éß╗ü t├ái hß╗úp t├íc quß╗æc tß║┐'),('DT010','─Éß╗ü t├ái hß╗úp t├íc ─æß╗ïa ph╞░╞íng'),('DT011','─Éß╗ü t├ái nghi├¬n cß╗⌐u sinh'),('DT012','Ch╞░╞íng tr├¼nh cß║Ñp c╞í sß╗ƒ');
/*!40000 ALTER TABLE `loai_de_tai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lop`
--

DROP TABLE IF EXISTS `lop`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lop` (
  `LOP_MA` char(8) NOT NULL,
  `DV_MADV` char(5) NOT NULL,
  `KH_NAM` varchar(9) NOT NULL,
  `LOP_TEN` varchar(50) NOT NULL,
  `LOP_LOAICTDT` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`LOP_MA`),
  KEY `FK_LOP_THUOC_VE_KHOA` (`DV_MADV`),
  KEY `FK_LOP_THUOC_VE__KHOA_HOC` (`KH_NAM`),
  CONSTRAINT `FK_LOP_THUOC_VE_KHOA` FOREIGN KEY (`DV_MADV`) REFERENCES `khoa` (`DV_MADV`),
  CONSTRAINT `FK_LOP_THUOC_VE__KHOA_HOC` FOREIGN KEY (`KH_NAM`) REFERENCES `khoa_hoc` (`KH_NAM`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lop`
--

LOCK TABLES `lop` WRITE;
/*!40000 ALTER TABLE `lop` DISABLE KEYS */;
/*!40000 ALTER TABLE `lop` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nguoi_dung`
--

DROP TABLE IF EXISTS `nguoi_dung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nguoi_dung` (
  `ND_MA` varchar(20) NOT NULL,
  `ND_MATKHAU` varchar(255) NOT NULL,
  `ND_VAITRO` varchar(20) NOT NULL,
  PRIMARY KEY (`ND_MA`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nguoi_dung`
--

LOCK TABLES `nguoi_dung` WRITE;
/*!40000 ALTER TABLE `nguoi_dung` DISABLE KEYS */;
/*!40000 ALTER TABLE `nguoi_dung` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nguon_kinh_phi`
--

DROP TABLE IF EXISTS `nguon_kinh_phi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nguon_kinh_phi` (
  `NKP_MA` char(5) NOT NULL,
  `HD_MA` char(5) NOT NULL,
  `NKP_TENNGUON` varchar(50) NOT NULL,
  `NKP_SOTIEN` decimal(10,2) NOT NULL,
  PRIMARY KEY (`NKP_MA`),
  KEY `FK_NGUON_KI_CO_TU_HOP_DONG` (`HD_MA`),
  CONSTRAINT `FK_NGUON_KI_CO_TU_HOP_DONG` FOREIGN KEY (`HD_MA`) REFERENCES `hop_dong` (`HD_MA`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nguon_kinh_phi`
--

LOCK TABLES `nguon_kinh_phi` WRITE;
/*!40000 ALTER TABLE `nguon_kinh_phi` DISABLE KEYS */;
/*!40000 ALTER TABLE `nguon_kinh_phi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nien_khoa`
--

DROP TABLE IF EXISTS `nien_khoa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nien_khoa` (
  `NK_NAM` varchar(9) NOT NULL,
  PRIMARY KEY (`NK_NAM`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nien_khoa`
--

LOCK TABLES `nien_khoa` WRITE;
/*!40000 ALTER TABLE `nien_khoa` DISABLE KEYS */;
INSERT INTO `nien_khoa` VALUES ('2020-2021'),('2021-2022'),('2022-2023'),('2023-2024'),('2024-2025');
/*!40000 ALTER TABLE `nien_khoa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quan_ly_nghien_cuu`
--

DROP TABLE IF EXISTS `quan_ly_nghien_cuu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `quan_ly_nghien_cuu` (
  `QL_MA` char(8) NOT NULL,
  `DV_MADV` char(5) NOT NULL,
  `QL_HO` varchar(20) NOT NULL,
  `QL_TEN` varchar(50) NOT NULL,
  `QL_EMAIL` varchar(50) NOT NULL,
  `QL_MATKHAU` varchar(255) NOT NULL,
  `QL_SDT` varchar(15) DEFAULT NULL,
  `QL_GIOITINH` tinyint(1) DEFAULT 1,
  `QL_NGAYSINH` date DEFAULT NULL,
  `QL_DIACHI` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`QL_MA`),
  UNIQUE KEY `QL_EMAIL` (`QL_EMAIL`),
  KEY `FK_QLNC_THUOC_VE_KHOA` (`DV_MADV`),
  CONSTRAINT `FK_QLNC_THUOC_VE_KHOA` FOREIGN KEY (`DV_MADV`) REFERENCES `khoa` (`DV_MADV`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quan_ly_nghien_cuu`
--

LOCK TABLES `quan_ly_nghien_cuu` WRITE;
/*!40000 ALTER TABLE `quan_ly_nghien_cuu` DISABLE KEYS */;
INSERT INTO `quan_ly_nghien_cuu` VALUES ('QLR001','KH001','Quß║ún l├╜','Nghi├¬n cß╗⌐u','research.admin@ctu.edu.vn','$2y$10$3n1zxJGWPptH9qMnJvHl5uKzmVb2YKzgWsBu0AmCBNG.kclQOVbCe','0987654321',1,'1994-03-02','Cß║ºn Th╞í\r\n');
/*!40000 ALTER TABLE `quan_ly_nghien_cuu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quyet_dinh_nghiem_thu`
--

DROP TABLE IF EXISTS `quyet_dinh_nghiem_thu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `quyet_dinh_nghiem_thu` (
  `QD_SO` char(5) NOT NULL,
  `BB_SOBB` char(10) NOT NULL,
  `QD_NGAY` date NOT NULL,
  `QD_FILE` varchar(255) NOT NULL,
  `QD_NOIDUNG` text DEFAULT NULL COMMENT 'Nß╗Öi dung chi tiß║┐t cß╗ºa quyß║┐t ─æß╗ïnh',
  `HD_THANHVIEN` text DEFAULT NULL COMMENT 'Danh s├ích th├ánh vi├¬n hß╗Öi ─æß╗ông (dß║íng JSON)',
  PRIMARY KEY (`QD_SO`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quyet_dinh_nghiem_thu`
--

LOCK TABLES `quyet_dinh_nghiem_thu` WRITE;
/*!40000 ALTER TABLE `quyet_dinh_nghiem_thu` DISABLE KEYS */;
INSERT INTO `quyet_dinh_nghiem_thu` VALUES ('123ab','BB3abc','2026-01-04','decision_123abc_1754324602.docx',NULL,'Huß╗│nh Thanh Phong (Chß╗º tß╗ïch)'),('QDDT0','BBDT000000','2026-01-04','decision_QDDT0000001_1754301665.docx',NULL,'Huß╗│nh Thanh Phong (Chß╗º tß╗ïch)');
/*!40000 ALTER TABLE `quyet_dinh_nghiem_thu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sinh_vien`
--

DROP TABLE IF EXISTS `sinh_vien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sinh_vien` (
  `SV_MASV` char(8) NOT NULL,
  `LOP_MA` char(8) NOT NULL,
  `SV_HOSV` varchar(8) NOT NULL,
  `SV_TENSV` varchar(50) NOT NULL,
  `SV_GIOITINH` tinyint(4) NOT NULL,
  `SV_SDT` varchar(15) NOT NULL,
  `SV_EMAIL` varchar(35) NOT NULL,
  `SV_MATKHAU` varchar(255) NOT NULL,
  `SV_NGAYSINH` date DEFAULT NULL,
  `SV_DIACHI` varchar(255) DEFAULT NULL,
  `SV_AVATAR` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`SV_MASV`),
  KEY `FK_SINH_VIEN_THUOC_VE_LOP` (`LOP_MA`),
  CONSTRAINT `FK_SINH_VIEN_THUOC_VE_LOP` FOREIGN KEY (`LOP_MA`) REFERENCES `lop` (`LOP_MA`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sinh_vien`
--

LOCK TABLES `sinh_vien` WRITE;
/*!40000 ALTER TABLE `sinh_vien` DISABLE KEYS */;
/*!40000 ALTER TABLE `sinh_vien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thanh_vien_hoi_dong`
--

DROP TABLE IF EXISTS `thanh_vien_hoi_dong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `thanh_vien_hoi_dong` (
  `QD_SO` char(5) NOT NULL,
  `GV_MAGV` char(8) NOT NULL,
  `TV_HOTEN` varchar(100) DEFAULT NULL COMMENT 'Hß╗ì t├¬n ─æß║ºy ─æß╗º cß╗ºa th├ánh vi├¬n',
  `TC_MATC` char(5) NOT NULL,
  `TV_VAITRO` varchar(30) NOT NULL,
  `TV_DIEM` decimal(4,2) DEFAULT NULL COMMENT '─Éiß╗âm ─æ├ính gi├í cß╗ºa th├ánh vi├¬n (0-10)',
  `TV_DIEMCHITIET` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT '─Éiß╗âm chi tiß║┐t theo tß╗½ng ti├¬u ch├¡ (dß║íng JSON)' CHECK (json_valid(`TV_DIEMCHITIET`)),
  `TV_TRANGTHAI` enum('Ch╞░a ─æ├ính gi├í','─Éang ─æ├ính gi├í','─É├ú ho├án th├ánh') DEFAULT 'Ch╞░a ─æ├ính gi├í' COMMENT 'Trß║íng th├íi ─æ├ính gi├í',
  `TV_NGAYDANHGIA` datetime DEFAULT NULL COMMENT 'Ng├áy cß║¡p nhß║¡t ─æ├ính gi├í cuß╗æi c├╣ng',
  `TV_FILEDANHGIA` varchar(255) DEFAULT NULL COMMENT 'File ─æ├ính gi├í cß╗ºa th├ánh vi├¬n',
  `TV_DANHGIA` text DEFAULT NULL COMMENT 'Nhß║¡n x├⌐t ─æ├ính gi├í cß╗ºa th├ánh vi├¬n',
  PRIMARY KEY (`QD_SO`,`GV_MAGV`,`TC_MATC`),
  KEY `FK_THANH_VI_DANH_GIA__TIEU_CHI` (`TC_MATC`),
  KEY `idx_qd_so` (`QD_SO`),
  KEY `idx_gv_magv` (`GV_MAGV`),
  KEY `idx_tv_trangthai` (`TV_TRANGTHAI`),
  KEY `idx_tv_ngaydanhgia` (`TV_NGAYDANHGIA`),
  CONSTRAINT `FK_THANH_VI_CO_VAI_TR_QUYET_DI` FOREIGN KEY (`QD_SO`) REFERENCES `quyet_dinh_nghiem_thu` (`QD_SO`),
  CONSTRAINT `FK_THANH_VI_DANH_GIA__TIEU_CHI` FOREIGN KEY (`TC_MATC`) REFERENCES `tieu_chi` (`TC_MATC`),
  CONSTRAINT `FK_THANH_VI_LA_GIANG_VI` FOREIGN KEY (`GV_MAGV`) REFERENCES `giang_vien` (`GV_MAGV`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thanh_vien_hoi_dong`
--

LOCK TABLES `thanh_vien_hoi_dong` WRITE;
/*!40000 ALTER TABLE `thanh_vien_hoi_dong` DISABLE KEYS */;
INSERT INTO `thanh_vien_hoi_dong` VALUES ('123ab','GV000002',NULL,'TC001','Chß╗º tß╗ïch',0.00,NULL,'Ch╞░a ─æ├ính gi├í',NULL,NULL,'Ch╞░a ─æ├ính gi├í'),('QDDT0','GV000002','Huß╗│nh Thanh Phong','TC001','Chß╗º tß╗ïch',NULL,NULL,'Ch╞░a ─æ├ính gi├í',NULL,NULL,NULL);
/*!40000 ALTER TABLE `thanh_vien_hoi_dong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thong_bao`
--

DROP TABLE IF EXISTS `thong_bao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `thong_bao` (
  `TB_MA` int(11) NOT NULL AUTO_INCREMENT,
  `TB_NOIDUNG` text NOT NULL,
  `TB_NGAYTAO` datetime NOT NULL DEFAULT current_timestamp(),
  `TB_DANHDOC` tinyint(1) NOT NULL DEFAULT 0,
  `TB_LOAI` varchar(50) DEFAULT 'Th├┤ng b├ío',
  `DT_MADT` char(10) DEFAULT NULL,
  `GV_MAGV` char(8) DEFAULT NULL,
  `SV_MASV` char(8) DEFAULT NULL,
  `QL_MA` char(8) DEFAULT NULL,
  `NGUOI_NHAN` varchar(20) DEFAULT NULL,
  `TB_LINK` varchar(255) DEFAULT NULL,
  `TB_TRANGTHAI` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`TB_MA`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thong_bao`
--

LOCK TABLES `thong_bao` WRITE;
/*!40000 ALTER TABLE `thong_bao` DISABLE KEYS */;
/*!40000 ALTER TABLE `thong_bao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tien_do_de_tai`
--

DROP TABLE IF EXISTS `tien_do_de_tai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tien_do_de_tai` (
  `TDDT_MA` char(10) NOT NULL,
  `DT_MADT` char(10) NOT NULL,
  `SV_MASV` char(8) NOT NULL,
  `TDDT_TIEUDE` varchar(200) NOT NULL,
  `TDDT_NOIDUNG` text NOT NULL,
  `TDDT_PHANTRAMHOANTHANH` int(11) DEFAULT 0,
  `TDDT_FILE` varchar(255) DEFAULT NULL,
  `TDDT_NGAYCAPNHAT` datetime NOT NULL,
  PRIMARY KEY (`TDDT_MA`),
  KEY `FK_TIEN_DO_DETAI` (`DT_MADT`),
  KEY `FK_TIEN_DO_SINHVIEN` (`SV_MASV`),
  CONSTRAINT `FK_TIEN_DO_DETAI` FOREIGN KEY (`DT_MADT`) REFERENCES `de_tai_nghien_cuu` (`DT_MADT`),
  CONSTRAINT `FK_TIEN_DO_SINHVIEN` FOREIGN KEY (`SV_MASV`) REFERENCES `sinh_vien` (`SV_MASV`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tien_do_de_tai`
--

LOCK TABLES `tien_do_de_tai` WRITE;
/*!40000 ALTER TABLE `tien_do_de_tai` DISABLE KEYS */;
/*!40000 ALTER TABLE `tien_do_de_tai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tieu_chi`
--

DROP TABLE IF EXISTS `tieu_chi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tieu_chi` (
  `TC_MATC` char(5) NOT NULL,
  `TC_TEN` varchar(255) DEFAULT NULL,
  `TC_MOTA` text DEFAULT NULL,
  `TC_NDDANHGIA` text NOT NULL,
  `TC_DIEMTOIDA` decimal(3,0) NOT NULL,
  `TC_TRONGSO` decimal(5,2) DEFAULT 20.00,
  `TC_THUTU` int(11) DEFAULT 1,
  `TC_TRANGTHAI` enum('Hoß║ít ─æß╗Öng','Tß║ím dß╗½ng') DEFAULT 'Hoß║ít ─æß╗Öng',
  PRIMARY KEY (`TC_MATC`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tieu_chi`
--

LOCK TABLES `tieu_chi` WRITE;
/*!40000 ALTER TABLE `tieu_chi` DISABLE KEYS */;
/*!40000 ALTER TABLE `tieu_chi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user` (
  `USER_ID` int(11) NOT NULL AUTO_INCREMENT,
  `USERNAME` varchar(50) NOT NULL,
  `PASSWORD` varchar(255) NOT NULL,
  `ROLE` varchar(20) NOT NULL,
  PRIMARY KEY (`USER_ID`),
  UNIQUE KEY `USERNAME` (`USERNAME`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES (0,'research_admin','$2y$10$M.thWqWP.HjNKDnkdVW6D.JNyULT2RgqjpbVV3/G7oE78tK.MW42m','research_manager'),(3,'admin','$2y$10$M.thWqWP.HjNKDnkdVW6D.JNyULT2RgqjpbVV3/G7oE78tK.MW42m','admin');
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `view_chi_tiet_danh_gia`
--

DROP TABLE IF EXISTS `view_chi_tiet_danh_gia`;
/*!50001 DROP VIEW IF EXISTS `view_chi_tiet_danh_gia`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `view_chi_tiet_danh_gia` AS SELECT
 1 AS `CTDDG_MA`,
  1 AS `QD_SO`,
  1 AS `QD_NGAY`,
  1 AS `BB_SOBB`,
  1 AS `BB_NGAYNGHIEMTHU`,
  1 AS `GV_MAGV`,
  1 AS `GV_HOTEN`,
  1 AS `TV_VAITRO`,
  1 AS `TV_HOTEN_HIENTHI`,
  1 AS `TC_MATC`,
  1 AS `TC_NDDANHGIA`,
  1 AS `TC_DIEMTOIDA`,
  1 AS `CTDDG_DIEM`,
  1 AS `CTDDG_GHICHU`,
  1 AS `CTDDG_NGAYCAPNHAT`,
  1 AS `TV_FILEDANHGIA`,
  1 AS `TV_TRANGTHAI`,
  1 AS `TV_NGAYDANHGIA` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `yeu_cau_dang_ky`
--

DROP TABLE IF EXISTS `yeu_cau_dang_ky`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `yeu_cau_dang_ky` (
  `YC_MA` int(11) NOT NULL AUTO_INCREMENT,
  `DT_MADT` char(10) NOT NULL,
  `SV_MASV` char(8) NOT NULL,
  `GV_MAGV` char(8) NOT NULL,
  `YC_NOIDUNG` text DEFAULT NULL,
  `YC_NGAYYEUCAU` datetime NOT NULL,
  `YC_TRANGTHAI` varchar(50) NOT NULL DEFAULT '─Éang chß╗¥ duyß╗çt',
  `YC_GHICHU` text DEFAULT NULL,
  `YC_NGAYDUYET` datetime DEFAULT NULL,
  `HK_MA` char(8) DEFAULT NULL,
  PRIMARY KEY (`YC_MA`),
  KEY `DT_MADT` (`DT_MADT`),
  KEY `SV_MASV` (`SV_MASV`),
  KEY `GV_MAGV` (`GV_MAGV`),
  KEY `FK_YEU_CAU_HOCKI` (`HK_MA`),
  CONSTRAINT `FK_YEU_CAU_DETAI` FOREIGN KEY (`DT_MADT`) REFERENCES `de_tai_nghien_cuu` (`DT_MADT`) ON DELETE CASCADE,
  CONSTRAINT `FK_YEU_CAU_GIANGVIEN` FOREIGN KEY (`GV_MAGV`) REFERENCES `giang_vien` (`GV_MAGV`),
  CONSTRAINT `FK_YEU_CAU_HOCKI` FOREIGN KEY (`HK_MA`) REFERENCES `hoc_ki` (`HK_MA`),
  CONSTRAINT `FK_YEU_CAU_SINHVIEN` FOREIGN KEY (`SV_MASV`) REFERENCES `sinh_vien` (`SV_MASV`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `yeu_cau_dang_ky`
--

LOCK TABLES `yeu_cau_dang_ky` WRITE;
/*!40000 ALTER TABLE `yeu_cau_dang_ky` DISABLE KEYS */;
/*!40000 ALTER TABLE `yeu_cau_dang_ky` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `view_chi_tiet_danh_gia`
--

/*!50001 DROP VIEW IF EXISTS `view_chi_tiet_danh_gia`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_chi_tiet_danh_gia` AS select `ctddg`.`CTDDG_MA` AS `CTDDG_MA`,`ctddg`.`QD_SO` AS `QD_SO`,`qd`.`QD_NGAY` AS `QD_NGAY`,`bb`.`BB_SOBB` AS `BB_SOBB`,`bb`.`BB_NGAYNGHIEMTHU` AS `BB_NGAYNGHIEMTHU`,`tv`.`GV_MAGV` AS `GV_MAGV`,concat(`gv`.`GV_HOGV`,' ',`gv`.`GV_TENGV`) AS `GV_HOTEN`,`tv`.`TV_VAITRO` AS `TV_VAITRO`,`tv`.`TV_HOTEN` AS `TV_HOTEN_HIENTHI`,`ctddg`.`TC_MATC` AS `TC_MATC`,`tc`.`TC_NDDANHGIA` AS `TC_NDDANHGIA`,`tc`.`TC_DIEMTOIDA` AS `TC_DIEMTOIDA`,`ctddg`.`CTDDG_DIEM` AS `CTDDG_DIEM`,`ctddg`.`CTDDG_GHICHU` AS `CTDDG_GHICHU`,`ctddg`.`CTDDG_NGAYCAPNHAT` AS `CTDDG_NGAYCAPNHAT`,`tv`.`TV_FILEDANHGIA` AS `TV_FILEDANHGIA`,`tv`.`TV_TRANGTHAI` AS `TV_TRANGTHAI`,`tv`.`TV_NGAYDANHGIA` AS `TV_NGAYDANHGIA` from (((((`chi_tiet_diem_danh_gia` `ctddg` join `quyet_dinh_nghiem_thu` `qd` on(`ctddg`.`QD_SO` = `qd`.`QD_SO`)) left join `bien_ban` `bb` on(`qd`.`QD_SO` = `bb`.`QD_SO`)) join `thanh_vien_hoi_dong` `tv` on(`ctddg`.`QD_SO` = `tv`.`QD_SO` and `ctddg`.`GV_MAGV` = `tv`.`GV_MAGV`)) join `giang_vien` `gv` on(`ctddg`.`GV_MAGV` = `gv`.`GV_MAGV`)) join `tieu_chi` `tc` on(`ctddg`.`TC_MATC` = `tc`.`TC_MATC`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-06 11:17:44
